@model IEnumerable<TimeSpending>
@{
    ViewData["Title"] = "Anasayfa";
}



<div class="row">
    <div class="col-md-12">
        <h2>Zaman Harcamaları (Bugün)</h2>
        <ul>
            @foreach (var item in Model)
    {
            <li>@(item.Name), @(item.WorkerUser?.FullName), @(item.TimeSpent) saat</li>
}
            
        </ul>
    </div>
    
</div>
